@charset "utf-8";

/*    
   Nur Sefferyna Binti Sefie@Seffe
   Date: 20 Jun 2021
   Filename: style.css
*/

body {
   background-color: #2471A3;
   font-family: Arial, verdana, sans-serif;
   margin-left: 20px;
}

h1 {
	text-align: center;
	color: white;
}

p{
	color: yellow;
	font-size: 20px;
}

div{
	background-color: #D0ECE7;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
	text-align: left;
}

input[type="text"] {
	width: 50%;
	height: 25px;
}


#button {
	width: 150px;
	height: 30px;
}


